@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Rancho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    z-index: 100;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 3px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #094b65;
    color: #fff;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

section #text {
    position: absolute;
    color: #2EDC85;
    font-size: 8vw;
    text-align: center;
    line-height: 0.5em;
    font-family: 'Rancho', cursive;
}

section #rocks {
    z-index: 100;
}

section #water {
    z-index: 101;
}

section #text span {
    font-size: 0.3em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 4px 16px;
    background: #fff;
    color: #094b65;
    font-size: 1.2em;
    letter-spacing: 2px;
    border-radius: 20px;
    transform: translateY(100px);
    z-index: 10;
}

.sec {
    position: relative;
    padding: 20px 150px;
    background: #094b65;
    z-index: 100;
}

.sec h2 {
    font-size: 3em;
    background-image: linear-gradient(
            90deg, #f32170, #ff6b08,
             #cf23cf, #eedd44);
             -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}

.sec p {
    font-size: 1.5em;
    color: #fff;
    line-height: 0.8;
}

footer {
    font-size: 1.2em;
    color: #2EDC85;
    text-align: right;
}